<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button mat-stroked-button (click)="start()">Basic</button>
<button mat-stroked-button color="accent" (click)="start()">Accent</button>
<button mat-stroked-button color="warn" (click)="start()">Warn</button>
<button mat-stroked-button disabled (click)="start()">Disabled</button>
<button mat-flat-button color="primary" (click)="start()">Primary</button>

<router-outlet></router-outlet>


